{% extends "layout.html" %}

{% block headers %}
  <!-- Bokeh css -->
  <link href="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.css" rel="stylesheet" type="text/css">
  <link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.css" rel="stylesheet" type="text/css">

  <script src="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.js"></script>
  <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.js"></script>

  <title>Stock Ticker Plot(s)!</title>
  {{ script | safe }}
{% endblock %}

{% block content %}
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  <p><a href="/">Generate Another Plot?</a></p>

  <h2>Graph</h2>
  {{ div | safe }}
{% endblock%}