{% extends "layout.html" %}
{% block content %}
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <br>
  <br>
  <p>Errors:</p>
  {% for message in messages %}
  <i>{{ message }}</i>
  {% endfor %}
  <br>
  <br>
  {% endif %}
  {% endwith %}

  <form action="{{ url_for('index') }}" method=post>
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <fieldset>
      <!-- <legend>stock ticker inputs</legend> -->

      <!-- <div style=font-size:20px; font-weight:bold; margin-left:150px;> -->
      <div font-weight:bold; margin-left:150px;>
        {{ form.ticker.label }}<br>
        {{ form.ticker }}
        <br>

        {{form.opening.label}} {{form.opening}} <br>
        {{form.closing.label}} {{form.closing}} <br>
        {{form.high.label}} {{form.high}} <br>
        {{form.low.label}} {{form.low}} <br>
        {{form.adj_opening.label}} {{form.adj_opening}} <br>
        {{form.adj_closing.label}} {{form.adj_closing}} <br>
        {{form.adj_high.label}} {{form.adj_high}} <br>
        {{form.adj_low.label}} {{form.adj_low}} <br>
        <br>

        {{ form.submit }}
      </div>

    </fieldset>
  </form>
{% endblock %}